<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "true"
    stopOnFailure               = "true"
    syntaxCheck                 = "false"
    bootstrap                   = "app/code/local/SplashSync/Splash/vendor/autoload.php" 
    verbose                     = "true"
    debug                       = "true"
    timeoutForLargeTests        = "120"  
>
    <filter>
        <whitelist>
            <directory>app/code/local/SplashSync/Splash/Tests</directory>
            <directory>app/code/local/SplashSync/Splash/vendor/splash/phpcore</directory>
            <exclude>
                <directory>app/code/local/SplashSync/Splash/vendor</directory>
                <directory>lib/Zend/Http/Client/Adapter/*</directory>
            </exclude>
        </whitelist>
    </filter>
 
    <testsuites>
        <testsuite name="All">
            <directory>app/code/local/SplashSync/Splash/Tests/*</directory>
            <directory>app/code/local/SplashSync/Splash/vendor/splash/phpcore/Tests/*</directory>
        </testsuite>
        <testsuite name="Core">
            <!--<directory>htdocs/app/code/local/SplashSync/Splash/Tests/Core</directory>-->
            <!--<directory>htdocs/app/code/local/SplashSync/Splash/vendor/splash/phpcore/Tests/Core</directory>-->
        </testsuite>
        <testsuite name="Admin">
            <!--<directory>htdocs/app/code/local/SplashSync/Splash/Tests/Admin</directory>-->
            <!--<directory>htdocs/app/code/local/SplashSync/Splash/vendor/splash/phpcore/Tests/Admin</directory>-->
        </testsuite>
        <testsuite name="Objects">
            <!--<directory>htdocs/app/code/local/SplashSync/Splash/Tests/Objects</directory>-->
            <!--<directory>htdocs/app/code/local/SplashSync/Splash/vendor/splash/phpcore/Tests/Objects</directory>-->
        </testsuite>
        <testsuite name="Widgets">
            <!--<directory>htdocs/app/code/local/SplashSync/Splash/Tests/Widgets</directory>-->
            <!--<directory>htdocs/app/code/local/SplashSync/Splash/vendor/splash/phpcore/Tests/Widgets</directory>-->
        </testsuite>
    </testsuites>

    <php>
        <const  name="SPLASH_DEBUG" value="true" />
        <server name="SERVER_NAME" value="http://127.0.0.1/Magento/Mage-1.9"/>
    </php>
</phpunit>
