<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <splashsync_splash_options translate="label" module="splashsync_splash">
            <label>Splash Sync Connector</label>
            <tab>service</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
 
            <groups>
                <core>
                    <label>Server Connection</label>
                    <comment>Connection parameters for your module on Splash Server. Once your have created your account, declare a new server and enter your creditials here.</comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
 
                    <fields>
                        <id>
                            <label>Server Identifier: </label>
                            <comment>The unique identifier given by Splash Server.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                        </id>
                        <key>
                            <label>Encryption Key: </label>
                            <comment>The unique encryption key given by Splash Server.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                        </key>
                        <lang translate="label">
                            <label>Locale</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_locale</source_model>
                            <comment>Default Language used for Splash Server.</comment>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                        </lang>                             
                    </fields>
                </core> 
                <user>
                    <label>Admin Parameters</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>101</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
 
                    <fields>
                        <login>
                            <label>Username: </label>
                            <comment>Name of user to use for all webservice transactions.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                        </login>
                        <pwd>
                            <label>Password: </label>
                            <frontend_type>password</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                        </pwd>
                    </fields>
                </user>
                <langs>
                    <label>Fields Translations</label>
                    <comment></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <multilang>
                            <label>Multilanguage: </label>
                            <comment>In this mode, multilangual fields are translated using stores definitions. This implies each store is dedicated to a specific language. Once activated you will have to select language for each store in store view configuration.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                        </multilang>                        
                        <default_lang>
                            <label>Default Language: </label>
                            <comment>Default Language Code to Use for Multilang Fields.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_locale</source_model>
                            <sort_order>20</sort_order>
                            <depends><multilang>0</multilang></depends>
                            <show_in_default>1</show_in_default>
                        </default_lang>
                        <store_lang>
                            <label>Store View Language: </label>
                            <comment>Language Code to Use for this Store on Multilang Fields.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_locale</source_model>
                            <sort_order>20</sort_order>
                            <depends><multilang>1</multilang></depends>
                            <show_in_store>1</show_in_store>
                        </store_lang>
                    </fields>
                </langs> 
                <products>
                    <label>Products Synchonization</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>400</sort_order>
                    <show_in_default>1</show_in_default>
 
                    <fields>
                        <attribute_set>
                            <label>Default Attribute Set: </label>
                            <comment>Used to setup Product Attributes when Created by Splash Server.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>splashsync_splash/system_config_source_product_attributeset</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                        </attribute_set>
                        <default_stock>
                            <label>Default Warehouse: </label>
                            <comment>Used to setup Product Stock when Created by Splash Server.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>splashsync_splash/system_config_source_product_stock</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                        </default_stock>
                    </fields>
                </products> 
                <advanced>
                    <label>Advanced Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>900</sort_order>
                    <show_in_default>1</show_in_default>
 
                    <fields>
                        <website>
                            <label>Default WebSite </label>
                            <comment>Default Store to use for Objects created from Outside. You can setup a Origin Server Id for each websites.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_website</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                        </website>
                        <origin>
                            <label>Origin:</label>
                            <comment>Id of Connected Server</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_website>1</show_in_website>
                        </origin>
                        <expert translate="label">
                            <label>Expert Mode: </label>
                            <comment>In this mode, you can access more detailed module informations.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                        </expert>                        
                        <server_url>
                            <label>Custom Server Url: </label>
                            <comment>Use a custom Url to contact Splash Server. Only uses this option if you uses SandBox Servers</comment>
                            <frontend_type>text</frontend_type>
                            <depends><expert>1</expert></depends>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                        </server_url>
                    </fields>
                </advanced> 
                <thirdparty>
                    <label>Customer Synchonization</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>300</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
 
                    <fields>
                    </fields>
                </thirdparty> 
            </groups>
        </splashsync_splash_options>
    </sections>
</config>